<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<body>
    <form >
        邮箱：<input type="text" name="emailAddress" id="emailAddress">
        <input type = "button" onclick="sendEmail()" value="发送邮件" />
        验证码:<input type="text" name="verifyCode" id="verifyCode">
        <input type="button" onclick="check()" value="提交">
    </form>
    <script type="text/javascript">
        function sendEmail() {
            // var emailAddress = document.getElementById("emailAddress").value;
            // var info = {"emailAddress":emailAddress};
            let EmailAddress = {"emailAddress":$('input[name="emailAddress"]').val()};


            $.ajax({
                url:'/common/email',
                data:JSON.stringify(EmailAddress),
                type:'POST',
                dataType:'json',
                contentType:'application/json;charset=UTF-8',



                success:(res) => {
                if(res.code == 0){
                alert("验证码发送成功")
            }else{
                console.log(res);
                alert(res.message);
            }
        },
            error:(xhr,err) => {
                console.log(err)
            }
        })

        }
        function check() {
            var obj = {"emailAddress":$('input[name="emailAddress"]').val(),"verifyCode":$('input[name="verifyCode"]').val()};

            $.ajax({
                url:'/common/forgetPassWord',
                data:JSON.stringify(obj),
                type:'POST',
                dataType:'json',
                contentType:'application/json;charset=UTF-8',



                success:(res) => {
                if(res.status == 0){
                    window.location.replace("/login");
            }else{
                console.log(res);
                alert(res.message);
            }
        },
            error:(xhr,err) => {
                console.log(err)
            }
        })
        }
    </script>
</body>

<script src="../plugins/jquery/jquery.js"></script>



</html>

