<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<body>
    <form action="/common/email" method="post">
        邮箱：<input type="text" name="emailAddress">
        <button onclick="this.src='/common/email?emailAddress='+document.getElementById('verifyCode')"></button>
        验证码:<input type="text" name="verifyCode" id="verifyCode">
        <input type="submit" value="提交">
    </form>
</body>
<!--<script>-->
<!--    function sendEmail(){-->
<!--        var url = "localhost:8055/common/email"-->
<!--        var request = new XMLHttpRequest(-->
<!--        -->
<!--        )-->
<!--        request.setRequestHeader("verifyCode",document.getElementById("verifyCode"))-->
<!--    }-->
<!--</script>-->
</html>

